
<footer class="site-footer border-top">
    <div class="container">
      <div class="foot-">
        <div class="row">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">Navigations</h3>
          </div>
        </div>
        <div>
          <div>
            <ul class="list-unstyled">
              <li><a href="/home">Acceuil</a></li>
              <li><a href="/about">A PROPOS</a></li>
              <li><a href="/shop/all">BOUTIQUE</a></li>
              <li><a href="/contact">CONTACT</a></li>
            </ul>
          </div>
          <div>
            <ul class="list-unstyled">
              <li><a href="/shop/all?categori=femme">Collection &mdash; Femmes</a></li>
              <li><a href="/shop/all?categori=enfant">Collection &mdash; Enfants</a></li>
              <li><a href="/shop/all?categori=homme">Collection &mdash; Hommes</a></li>
              <li><a href="/shop/all?categori=mixte">Collection &mdash; Mixtes</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="foot-">

        <!--             
          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Souscrire</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="OK">
              </div>
            </form>
          </div> -->
          
          <a href="/home" class="block-6" style="margin: auto;">
            <img src="{{ url_for('static', filename='img/shopper/logo gennyket5.png') }}" alt="Image placeholder" class="img-fluid rounded mb-4" style="width: 175px;">
          </a>
          
      </div>

      <div class="block-5 foot-">
        <div>
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">Comico <br> Ouakam - Senegal</li>
            <li class="phone"><a href="tel://2412135499">+221 78 147 96 03</a></li>
            <li class="email"><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__"
                data-cfemail="5b3e363a32373a3f3f293e28281b3f34363a323575383436">snguemaabessolo@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>