
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>gnnyket - dashboard</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/css/bootstrap1.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/vendors/themefy_icon/themify-icons.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/vendors/scroll/scrollable.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/css/metisMenu.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/css/style1.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales/css/style_sale.css') }}" />