
<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
          </div>
          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
            <div class="site-logo">
              <a href="/home" class="js-logo-clone logo" style="border: none;"><img src="{{ url_for('static', filename='img/shopper/logo gennyket4.png') }}" alt="" srcset="" style="width: 125px;"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          
          <li class="{% if session.id_shopper==1 %}{{ 'active' }}{% endif %}"><a href="/home">Acceuil</a></li>
          <li class="{% if session.id_shopper==2 %}{{ 'active' }}{% endif %}"><a href="/about">A propos</a></li>
          <li class="{% if session.id_shopper==3 %}{{ 'active' }}{% endif %}"><a href="/shop/all">Boutique</a></li>
          <li class="{% if session.id_shopper==4 %}{{ 'active' }}{% endif %}"><a href="/contact">Contact</a></li>
          <li>
            <div class="site-top-icons">
              <ul>
                <li><a href="/login"><span class="icon icon-person"></span></a></li>
                <li>
                  <a href="/cart" class="site-cart">
                    <span class="icon icon-shopping_cart"></span>
                    {% if session.cart.nbr > 0 %}
                      <span class="count">{{ session.cart.nbr }}</span>
                    {% endif %}
                  </a>
                </li>
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                      class="icon-menu"></span></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>