

<script src="{{ url_for('static', filename='js/sales/jquery1-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sales/popper1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sales/metisMenu.js') }}"></script>
<script src="{{ url_for('static', filename='css/sales/vendors/scroll/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/sales/vendors/scroll/scrollable-custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/sales/custom.js') }}"></script>