
<script src="{{ url_for('static', filename='js/shopper/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopper/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopper/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopper/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopper/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopper/aos.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopper/main.js') }}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
  integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
  data-cf-beacon='{"rayId":"873e7f4cfe5af5ca","b":1,"version":"2024.3.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
  crossorigin="anonymous"></script>