footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    width: 95%;
}

footer .container div {
    display: flex;
}

footer .container div.foot-{
    flex-direction: column;
}

footer .container div.foot-:nth-child(1) div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

footer .container div.foot-:last-child div {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.content-back{
    background-image: url('../../img/shopper/hero_1.jpg');
}