{% extends "shared/base.view.html" %}

{% block title_page %}Details - {{ commande.ref }}{% endblock title_page %}
{% block path_link %}commande{% endblock path_link %}
{% block path_link_2 %}commande{% endblock path_link_2 %}

{% block path %}
    <li class="breadcrumb-item"><a href="/commandes/liste">Commandes</a></li>
    <li class="breadcrumb-item">Details</li>
{% endblock path %}

{% block dispo_ %}{% endblock dispo_ %}

{% block contents_ %}
    <div class=" row">
        <div class="col-lg-4">
            <div class="white_card card_height_100  mb_20">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h3 class="m-0">Client</h3>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <div class="table-responsive">
                        <table class="table bayer_table m-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <img class="byder_thumb wh_56" src="{{ url_for('static', filename= commande.client.profil) }}" alt>
                                    </td>
                                    <td>
                                        <div class="payment_gatway">
                                            <h5 class="byer_name  f_s_16 f_w_700 color_theme">{{ commande.client.prenom.title() }} {{ commande.client.nom.capitalize() }}</h5>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="fill: rgba(100, 197, 177, 1);"><path d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"></path></svg>
                                    </td>
                                    <td>
                                        <div class="payment_gatway">
                                            <h5 class="byer_name  f_s_16 f_w_700 color_theme">{{ commande.client.contact }}</h5>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="fill: rgba(100, 197, 177, 1);"><path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z"></path></svg>
                                    </td>
                                    <td>
                                        <div class="payment_gatway">
                                            <h5 class="byer_name  f_s_16 f_w_700 color_theme">{{ commande.client.mail }}</h5>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="fill: rgba(100, 197, 177, 1);"><path d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"></path></svg>
                                    </td>
                                    <td>
                                        <div class="payment_gatway">
                                            <h5 class="byer_name  f_s_16 f_w_700 color_theme">{{ commande.client.adresse }}</h5>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="white_card card_height_100  mb_20">
                <div class="white_card_header">
                    <div class="box_header m-0">
                        <div class="main-title">
                            <h3 class="m-0">Facture</h3>
                        </div>
                    </div>
                </div>
                <div class="white_card_body">
                    <div class="table-responsive table-scool">
                        <table class="table bayer_table m-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="payment_gatway">
                                            <h5 class="byer_name  f_s_16 f_w_700 color_theme">Image</h5>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="payment_gatway">
                                            <h5 class="byer_name  f_s_16 f_w_700 color_theme">Libelle</h5>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="payment_gatway">
                                            <h5 class="byer_name  f_s_16 f_w_700 color_theme">Quantite</h5>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="payment_gatway text-end">
                                            <h5 class="byer_name  f_s_16 f_w_700 color_theme">Total</h5>
                                        </div>
                                    </td>
                                </tr>

                                {% for fact in commande.factures %}
                                    <tr>
                                        <td>
                                            <img class="byder_thumb wh_56" src="{{ url_for('static', filename= fact.produit.img) }}" alt>
                                        </td>
                                        <td>
                                            <div class="payment_gatway">
                                                <h5 class="byer_name  f_s_16 f_w_700 color_theme">{{ fact.produit.libelle.title() }}</h5>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="payment_gatway">
                                                <h5 class="byer_name  f_s_16 f_w_700 color_theme">{{ fact.cmd.qte }}</h5>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="payment_gatway text-end">
                                                <h5 class="byer_name  f_s_16 f_w_700 text_color_5">{{ fact.montant_format }} Fcfa</h5>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="white_card card_height_100  mb_20">
                <div class="white_card_body ">
                    <div class="monthly_plan_wraper mt_20">
                        <div class="single_plan d-flex align-items-center justify-content-between">
                            <h5 class="color_theme2 f_s_14 f_w_700 mb-0">Date</h5>
                            <span class="color_gray2 f_s_16 f_w_700">{{ commande.date }}</span>
                        </div>
                        <div class="single_plan d-flex align-items-center justify-content-between">
                            <h5 class="color_theme2 f_s_14 f_w_700 mb-0">heure</h5>
                            <span class="color_gray2 f_s_16 f_w_700">{{ commande.heure_format }}</span>
                        </div>
                        <div class="single_plan d-flex align-items-center justify-content-between">
                            <h5 class="color_theme2 f_s_14 f_w_700 mb-0">Etat</h5>
                            {% if commande.etat==2 %}
                                <span class="color_gray2 f_s_16 f_w_700 badge_btn_3">En attente</span>
                            {% elif commande.etat==1 %}
                                <span class="color_gray2 f_s_16 f_w_700 badge_btn_5">Valider</span>
                            {% else %}
                                <span class="color_gray2 f_s_16 f_w_700 badge_btn_6">Bloquer</span>
                            {% endif %}
                        </div>
                        {% if commande.etat == 2 and session.user_connected.role!=2 %}
                            <div class="single_plan d-flex align-items-center justify-content-between">
                                <h5 class="color_theme2 f_s_14 f_w_700 mb-0">Action</h5>
                                <div>
                                    <a href="/commandes/details/{{ commande.ref }}/1/confirm" class="badge_btn_5">Valider</a>
                                    <a href="/commandes/details/{{ commande.ref }}/0/confirm" class="badge_btn_6">Bloquer</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="white_card_body row justify-content-between">
                            <div class="total_blance mt_20 mb_10 col-lg-12">
                                <span class="f_s_13 f_w_700 color_gray">Total Commande</span>
                                <div
                                    class="total_blance_inner d-flex align-items-center flex-wrap justify-content-between">
                                    <div>
                                        <span class="f_s_40 f_w_700 color_text_2 d-block">{{ commande.montant_format }} Fcfa</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contents_ %}

                